<!DOCTYPE html>

<html land="en">
  <head>
        <title>
            Rafaela Pinter: {% block title %}{% endblock %}
        </title>
        <script>
        </script>
        <link rel="stylesheet" href="styles.css">
        </head>

  <body style="text-align: center">

    <section>
      <nav>
        <ul>
        <br><br><br>
        <h2 class="name">Rafaela Pinter</h2>
        <br>
        <li><a href="index.html">About</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="hobbies.html">Hobbies</a></li>
        <li><a href="game.html">A game for my sister</a></li>
        <li><a href="https://www.linkedin.com/in/rafaela-s-pinter/?locale=en_US">LinkedIn</a></li>
        <li><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K8683009A8&tokenCaptchar=03AGdBq24w9epmV5kDBR8yDkFzv9euUkHiXsbTzCeNAp_O4X88NY674OmZoYM_DfXmMcnWNBVj-eZkpKYZ1hvL7Ler0DVxMIAJTlsJcRxsH4XLsOLmtCtQyUqMouvJqPDaqG5rMDkcEXAMmnLAklFp9clK9C15WeVNO3qQSWdaENBNyEep36RKhdvgeLlOCsD9b510scVgI85R05LvZYGxMuqXnqgTWJifBSRCn_nYyIbsVgmJo8O3D_cddTxzA4K60_9nzTRpPm2bylLWtyAaI3XJN_14I_Za2juhxMjxzyHVY1JGk4zHDtadJIeWddrjPOZSJux6E2EutUC7tt7R-L2zC_jEKphfb-gjdSJHgvRKM8EvCjaZPgBpB1XSK_3OC-BqQ7DCRY-R56Znb5e-dwzm-_7I6uagrw">Lattes</a></li>
        <li><a href="contact.html">Contact me</a></li>
        </ul>
      </nav>
    </section>
    <br><br><br>

    <div class="text-center">
    <img src="rafa.jpg" class="rounded" alt="rafa" style="width:150px;height:150px;">
    </div>
    <br><br><br>

    <main>{% block main %} {% endblock %}</main>

    </body>
</html>

